
.utama{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.utama .container .row .mempelai{
    padding-top: 70px;
}

.utama .container .row .mempelai h1.pria{
    font-style: normal;
    font-family: 'Style Script', cursive;
    font-size: 60px;
    height: auto;
    text-align: center;
    padding: 100px 0 0 0;
}
.utama .container .row .mempelai h1.wanita{
    font-style: normal;
    font-family: 'Style Script', cursive;
    font-size: 60px;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
}
.utama .container .row .mempelai h1.n{
    font-style: normal;
    font-family: 'Style Script', cursive;
    font-size: 60px;
    height: auto;
    text-align: center;
}
.utama .container .row .mempelai h1.kpd{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
}

button.buka{
    margin: 0 0 0 470px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    color: black;
    width: 170px;
    height: 40px;
    position: absolute;
}
.button{
    padding-bottom: 150px;
}

button:hover{
    background-color: black;
    color: white;
}

button.play{
    background-color: transparent;
    border: 0px;
    z-index: 2;
    display: flex;
    padding: 200px 0 0 50px;
}

button.play i{
   font-size: 30px;
}

button.play:hover{
    color: black;
}

.pembuka{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1.invt{
    padding: 30px 0 30px 0; 
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

img.imgp{
    width: 150px;
    height: 150px;
    margin: 0 0 0 480px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 
              2px 2px 17px rgba(0, 0, 0, .35), 
              2px 2px 25px rgba(0, 0, 0, .5);
}

h1.name{
    font-family: 'Style Script', cursive;
    padding: 50px 0 300px 0;
}

.tgla{
    background-color: #ffebd6;
}

.bismillah img.bis{
    width: 300px;
    height: 150px;
    margin-left: 400px;
}

h1.ua{
    font-size: 25px;
}

h1#hari{
    margin-left: 350px;
}
h1#jam{
    margin-left: 30px;
}
h1#menit{
    margin-left: 30px;
}
h1#detik{
    margin-left: 20px;
}


h1.waktuacara{
    font-size: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: #964B00;
    width: 100px;
    height: 80px;
    padding: 10px;
}

.ucapan{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1.penyelenggara{
    font-size: 35px ;
    padding: 30px;
}

img.ft1{
    width: 200px;
    height: 200px;
    margin: 30px 0 0 380px;
    border: inherit;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 
              2px 2px 17px rgba(0, 0, 0, .35), 
              2px 2px 25px rgba(0, 0, 0, .5);
}

.pgtn h1.wanita{
    font-family: 'Style Script', cursive;
    padding-bottom: 10px;

}

.pgtn h1.wanita p{
    font-family: 'Times New Roman', Times, serif;
}
.pgtn h1.pria{
    padding-top: 10px;
    font-family: 'Style Script', cursive;
    padding-bottom: 50px;

}

.pgtn h1.pria p{
    font-family: 'Times New Roman', Times, serif;
}

p.love{
    font-size: 40px;
    color: red;
}

.sv{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1.sth{
    font-family: 'Style Script', cursive;
    padding: 70px 0 0 0;
    font-size: 80px;
    color: lightskyblue;
}
h1.akad{
    font-family: 'Style Script', cursive;
    padding: 190px 0 20px 0;
    margin-right: 40px;
    font-size: 40px;
    color: lightskyblue;
}

h1.date1{
    font-size: 30px;
    color: lightskyblue;
    padding-bottom: 20px ;
}

h1.jam{
    font-size: 25px;
    padding-bottom: 200px;

}

.map{
    background-color: #ffebd6;
    background-size: 100% 100%;
}

.lokasi img.bunga{
    margin-left: 450px;
}

.lokasi h1.lokasiacara{
    padding: 70px 0 30px 0;
    font-family: 'Style Script', cursive;
    color: #964B00;
    z-index: 99;
}

h1.lks{
    font-size: 30px;
}
p.gmaps iframe{
    width: 800px;
    height: 350px;
    border: 2px solid;
    border-radius: 20px;
    margin-left: 160px ;
}
p.gmaps{
    padding-top: 40px;
    padding-bottom: 40px;
}

.map button.gmaps{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    font-size: x-large;
    border-radius: 10px;
    margin-left: 460px;
    width: 190px;
    height: 50px;
}

.map button.gmaps:hover{
    background-color:  #964B00;
}

p.btn{
    padding-bottom: 30px;
}



@media(max-width: 670px){
    .utama{
        height: 680px;
    }
    
    button.buka{
        margin: 0 0 0 80px;
    }
    
    img.imgp{
        width: 150px;
        height: 150px;
        margin: 0 0 0 100px;
        border-radius: 5px;
    }

    .bismillah img.bis{
        width: 300px;
        height: 150px;
        margin-left: 20px;
    }

    img.ft1{
        margin: 10px 0 0 75px;
    }

    .pgtn h1.wanita{
        padding-top: 30px;
    }

    h1.penyelenggara{
        font-size: medium;
    }

    h1.akad{
        margin-left: 50px;
        padding-top: 30px;
    }

    h1.sth{
        padding-bottom: 0;
    }
    .map button.gmaps{
        margin-left: 40px;
        width: 160px;
        height: 40px;
        font-size: medium;
    }

    p.gmaps iframe{
        width: 300px;
        height: 150px;
        margin-left: 25px ;
    }

    .lokasi img.bunga{
        margin-left: 130px;
        height: 90px;
        width: 80px;
    }

    .lokasi h1.lks{
        padding: 30px 0 30px 0;
    }

    h1#hari{
        margin-left: 15px;
    }
    h1#jam{
        margin-left: 9px;
    }
    h1#menit{
        margin-left: 9px;
    }
    h1#detik{
        margin-left: 9px;
    }  

    h1.waktuacara{
        font-size: 15px;
        height: 70px;
        width: 80px;
    }
}
@media(max-width: 1000px){
   
    
    button.buka{
        margin: 0 0 0 100px;

    }

    button.play{
        padding: 100px 0 0 30px;
    }
    
    img.imgp{
        width: 150px;
        height: 150px;
        margin: 0 0 0 100px;
        border-radius: 5px;
    }

    .bismillah img.bis{
        width: 300px;
        height: 150px;
        margin-left: 40px;
    }

    img.ft1{
        margin: 10px 0 0 75px;
    }

    .pgtn h1.wanita{
        padding-top: 30px;
    }

    h1.penyelenggara{
        font-size: medium;
    }

    h1.akad{
        margin-left: 50px;
        padding-top: 30px;
    }

    h1.sth{
        padding-bottom: 0;
    }

    .map button.gmaps{
        margin-left: 100px;
        width: 160px;
        height: 40px;
        font-size: medium;
    }

    p.gmaps iframe{
        width: 300px;
        height: 150px;
        margin-left: 45px ;
    }

    .lokasi img.bunga{
        margin-left: 160px;
        height: 90px;
        width: 80px;
    }

    .lokasi h1.lks{
        padding: 30px 0 30px 0;
    }

    h1#hari{
        margin-left: 35px;
    }
    h1#jam{
        margin-left: 9px;
    }
    h1#menit{
        margin-left: 9px;
    }
    h1#detik{
        margin-left: 9px;
    }  

    h1.waktuacara{
        font-size: 15px;
        height: 70px;
        width: 80px;
    }
}